@import url("https://fonts.googleapis.com/css?family=Poppins");
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    
}
html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    min-width:xxpx; /* enter a pixel value more than 1px that distorts the layout on resize */
    }
.navbar{
    top: 0;
    left: 0;
    right: 0;
    width: 90%;
    height: 100%;
    align-items: right;
    margin-left: 120px;
    padding-top: 0px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-top: 0;
    margin-left: 30px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 13px
}
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    flex-direction: column;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(/images/img-one-only-the-palm-hotel-dubai-29.jpeg);
    background-size: cover ;
}
.contact .content{
    max-width: 800px;
    text-align: center;
    margin-left: 100px;
    margin-top: 50px;
}
.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color: whitesmoke;
}
.contact .content p{
    font-weight: 300;
    color: whitesmoke;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;

}
.container .contactInfo .box .icon{
    min-width: 40px;
    height: 40px;
    background: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 15px;
}
.container .contactInfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 13px;
    color: whitesmoke;
    flex-direction: column;
    font-weight: 300;
}
.container .contactInfo .box .text h3 {
    font-weight: 500;
    color: whitesmoke;
}
.contactform{
    width: 40%;
    padding: 40px;
    background: whitesmoke;
}
.contactform h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contactform .inputbox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactform .inputbox input,
 .contactform .inputbox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactform .inputbox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactform .inputbox input:focus ~ span,
.contactform .inputbox input:valid ~ span,
.contactform .inputbox textarea:focus ~ span,
.contactform .inputbox textarea:valid ~ span {
    color: #a27777;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactform .inputbox input[type = "submit"]{
    width: 100px;
    background: #917763;
    color: whitesmoke;
    border:none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
@media (max-width: 991px){
    .contact
    {
        padding: 50px;
    }
    .container{
        flex-direction: column;
    }
    .container .contactInfo{
        margin-bottom: 40px;
    }
    .container .contactInfo,
    .contactform
    {
        width: 100%;

    }
}
