body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.payment-form {
    background-color: #fff;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease-in-out;
}

h1 {
    text-align: center;
    color: #333;
    animation: slideInDown 0.5s ease-in-out;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    animation: fadeIn 0.5s ease-in-out;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    animation: slideInRight 0.5s ease-in-out;
}

.card-icon {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.card-icon i {
    font-size: 24px;
    margin-right: 10px;
}

button[type="submit"] {
    background-color: #70150f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    animation: fadeIn 0.5s ease-in-out;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInDown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}
