@import url("https://fonts.googleapis.com/css?family=Poppins");


* {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    padding: 30px;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(186, 178, 181, 0.7);
    height: 100px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 800; /* Ensure the nav stays on top of other elements */
}
li:hover{
    color: #AC3B61;
    cursor: pointer;
}

.links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.links ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 16px;
}

.links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #AC3B61;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.links ul li:hover::after {
    width: 100%;
}


/*  */


.modal {
    display: none;
    width: 50%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;

}

.close-btn {
    color: #AC3B61;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover {
    color: #484872;
}

/* Add animation for the modal */
@keyframes modalFadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.modal-content {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    animation: modalFadeIn 0.5s;
    
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #888;
}

.modal-content button {
    background-color: #AC3B61;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.modal-content button:hover {
    background-color: #832C4B;
}

.modal-content {
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    max-width: 80%; /* Set the maximum width */
    max-height: 80%; /* Set the maximum height */
    overflow: auto;
}

.modal-content img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}



/* */
.head {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    align-items: center;
    position: relative;
}

a.logo {
    text-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.7);
    text-decoration: none;
    color: white;
    width: 150px;
    font-size: 30px;
}


.footer{
    width: 100%;
    min-height: 100px;
    padding: 20px 80px;
    margin: 0;
    background: #AC3B61;
    text-align: center;
}
.footer p{
    color: whitesmoke;
    margin: 20px auto;
    padding: 20px auto;
}



/*BOOK*/

.menu{
    width: 100% ;
    padding: 100px 0;
}

.menu h1{
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

}

.menu h1 span {
    color: #AC3B61;
    margin-left: 15px;

}

.menu h1 span::after{

    content: '';
    width: 100%;
    height: 4px;
    background: #AC3B61;
    display: block;
    position: relative;
    bottom: 15px;
}

.menu .menu-box {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu .menu-card {
    display: flex;
    width: 95%;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.menu .menu-image {
    width: 40%; /* Adjust the width as needed */
    margin-right: 20px; /* Add spacing between image and info */
}
.menu .menu-box .menu-card .menu-image {

    height: auto;
    margin: 0 auto;
    overflow: hidden;
}

.menu .menu-box .menu-card .menu-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.3s;
}

.menu .menu-box .menu-card .menu-image:hover img {
    transform: scale(1.1); /* Scale the image on hover */
}

.menu .menu-info {
    width: 60%; /* Adjust the width as needed */
}

.menu .menu-info h2,
.menu .menu-info p,
.menu .menu-info h3,
.menu .menu-info .menu-icon,
.menu .menu-info .menu-btn {
    margin-bottom: 15px; /* Add some spacing between elements */
}
.menu .menu-box .menu-card .menu-info {
    padding-left: 20px; /* Adjust the padding to your preference */
    box-sizing: border-box; /* Include padding in the element's total width and height */
    padding-top: 100px;
}
.menu .menu-card .menu-info h2 {
    font-size: 25px;
    color: #AC3B61;
}

.menu .menu-card .menu-info p {
    text-align: left;
    line-height: 21px;
    margin-bottom: 15px;
}

.menu .menu-card .menu-info h3 {
    text-align: left;
    margin-top: 10px;
}

.menu .menu-card .menu-info .menu-icon {
    color: #fac031;
    text-align: left;
    margin-bottom: 10px;
}

.menu .menu-card .menu-info .menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: whitesmoke;
    background: #484872;
    padding: 8px 20px;
    margin: 0 auto;
    transition: background 0.3s, color 0.3s, transform 0.3s;
    width: 170px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.8);
}

.menu .menu-card .menu-info .menu-btn:hover {
    background: #AC3B61;
    color: #FFF;
    cursor: pointer;
    transform: scale(1.1);
}

#bookingModal {
    position: fixed;
    top: 25%; /* Adjust the percentage value to raise the modal higher */
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 90vh;
    overflow-y: auto;
    width: 80%;
    max-width: 900px; /* Set a maximum width to the modal */
    padding: 30px;
    box-sizing: border-box;
    overflow: hidden; /* Hide the scrollbar */
    margin-bottom: 10px; /* Add margin to the bottom */

}

#confirmBookingBtn {
    display: block;
    margin: 15px auto; /* Center the button horizontally with auto margins */
    background-color: #AC3B61;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

#confirmBookingBtn:hover {
    background-color: #832C4B;
}
#invoiceContent {
    text-align: center;
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    max-width: 80%; /* Set the maximum width */
    max-height: 80%; /* Set the maximum height */
    overflow: auto;
}

#invoiceContent h2 {
    color: #AC3B61;
    font-size: 28px;
    margin-bottom: 15px;
}

#invoiceContent p {
    margin-bottom: 10px;
    line-height: 1.5;
}

#invoiceContent strong {
    color: #484872;
}

#invoiceContent hr {
    border: 1px solid #AC3B61;
    margin: 15px 0;
}

#invoiceContent button {
    background-color: #AC3B61;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
    transition: background-color 0.3s;
}

#invoiceContent button:hover {
    background-color: #832C4B;
}



#editReservationContainer {
    margin-top: 20px; /* Adjust the margin as needed */
}

.menu-btn {

    justify-content: left;
    align-items: center;
    text-decoration: none;
    color: whitesmoke;
    background: #832C4B;
    padding: 8px 20px;
    margin: 80px;
    transition: background 0.3s, color 0.3s, transform 0.3s;
    width: 170px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.8);
}

.menu-btn:hover {
    background: #888;
    color: #FFF;
    cursor: pointer;
    transform: scale(1.1);
}

.swiper-slide img {
    width: 1530px; /* Set the width to 1530 pixels */
    height: 500px; /* Set the height to 861 pixels */
}


/* EDIT RESERVATION */
.menu-info table {
    width: calc(100% - 48px); /* Adjust the value based on your padding */
    margin-top: 20px;
    border-collapse: collapse;
    /* Add overflow-x: auto; if needed */
}
.history-box {
    margin: 10% auto;
    transform: translate(0, -50%);
    z-index: 9999;
    background-color: #070730;
    color: #fff;
    border-radius: 30px;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    width: 60%;
    max-height: 80vh;

}

.history-box h2 {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 20px;
}

.table-data {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 35px;
    margin-top: 24px;
    width: 100%;
    color: #ffffff;
}

.table-data > div {
    border-radius: 20px;
    background: rgba(16, 16, 82, 0.726);
    padding: 24px;
    overflow-x: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.table-data .head {
    display: flex;
    align-items: center;
    gap: 26px;
    margin-bottom: 50px;
}

.table-data .head h3 {
    margin-right: auto;
    font-size: 30px;
    font-weight: 600;
    color: #ffffff;
}

.table-data .order {
    flex-grow: 1;
    flex-basis: 500px;
}

.table-data .order table {
    width: 100%;
    border-collapse: collapse;
}

.table-data .order table th {
    padding-bottom: 12px;
    font-size: 18px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table-data .order table td {
    padding: 16px 0;
    font-size: 13px;
}

.table-data .order table tr td:first-child {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-left: 6px;
}

.table-data .order table td img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 8px;
}



.table-data .order table tr td .status {
    font-size: 12px;
    padding: 6px 12px;
    color: #000000;
    border-radius: 20px;
    font-weight: 700;
}


.table-data .todo {
    flex-grow: 1;
    flex-basis: 300px;
}

.table-data .todo .todo-list {
    width: 100%;
}


.table-data .todo .todo-list li .bx {
    cursor: pointer;
}

.table-data .todo .todo-list li:last-child {
    margin-bottom: 0;
}


.menu-info table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.menu-info th, .menu-info td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.menu-info th {
    background-color: #070730;
    color: #fff;
}

.menu-info tbody tr:hover {
    background-color: rgba(16, 16, 82, 0.5);
}

.menu-info td img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 8px;
}



.menu-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.menu-info {
    background-color: whitesmoke;
    color: #000000;

    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    width: 60%;
    max-height: 80vh;
    overflow-y: auto; /* Add this line to enable vertical scrolling if content exceeds the height */
}

.menu-info table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.menu-info th, .menu-info td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #888;
}

.menu-info th {
    background-color: #888;
    color: #fff;
}

.menu-info tbody tr:hover {
    background-color: #832c4b77;
}

.menu-info td img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 8px;
}

.btn-container {
    display: flex;
    gap: 10px; /* Adjust the gap as needed */
}




/* Responsive Styles */

@media screen and (max-width: 768px) {
    /* Adjust styles for smaller screens */

    nav {
        padding: 15px;
        height: auto;
    }

    a.logo {
        font-size: 24px;
    }

    .menu h1 {
        font-size: 40px;
    }

    .menu .menu-box {
        width: 100%;
    }

    .menu .menu-card {
        flex-direction: column;
    }

    .menu .menu-image {
        width: 100%;
        margin-right: 0;
    }

    .menu .menu-info {
        width: 100%;
        padding-left: 0;
    }

    .footer {
        padding: 10px;
    }

    #bookingModal {
        width: 90%;
        max-width: 100%;
    }

    #confirmBookingBtn {
        margin: 15px auto;
    }

    #invoiceContent {
        margin-top: 10px;
    }
}

@media screen and (max-height: 600px) {
    #bookingModal {
        max-height: 80vh;
    }
}